.wrapper {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.table {
    width: 100%;
}

.spinner {
    text-align: center !important;
}

.emptyList {
    text-align: center !important;
}

.footer {
    text-align: center !important;
}
